.initial {
  margin-top: 20px;
  text-align: center;
}
.day, .breakfast, .pet, .monsters {
  margin-top: 20px;
}
.buttons {
  text-align: center;
  margin-top: 20px;
}
.result1, .result2, .result3 {
  text-align: center;
}